
<link href="dist/css/Notification.css" rel="stylesheet" type="text/css" />
<script src="dist/js/Notification.js"></script>
<style>
    img {
        height: 50px;
        width: 50px;
        /*margin-top: 5px;*/
    }
</style>
<div class="container" id="header">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span><span
                            class="icon-bar"></span><span class="glyphicon glyphicon-chevron-down"></span><span
                            class="icon-bar"></span>
                    </button>
                    <a href="#/newsFeed"><img class="logo" src="imgs\logo.jpg"></a>
                </div>

                <div class="collapse navbar-collapse"
                     id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="page in navPagesList" ng-click="select($index)"
                            ng-class="{active: $index===selectedIndex}"><a
                                href="#/{{page.target}}" data-toggle="collapse" data-target=".nav-collapse"
                                ng-show="(userProfile.data.userType == page.show) || (page.show == 0)">{{page.name}}</a></li>




                        <form class="navbar-form navbar-left" role="search">
                              <!--ng-controller="searchController">-->



                            <div class="form-group">
                                <div class="search-input" class="search-textbox">
                                    <!--<tags-input ng-model="tags" min-length="0"-->
                                                <!--replace-spaces-with-dashes="false"-->
                                                <!--add-from-autocomplete-only="true"-->
                                                <!--on-tag-added="tagAdded($tag)"-->
                                                <!--on-tag-removed="tagRemoved($tag)"> <auto-complete-->
                                            <!--source="loadTags($query)" min-length="0" debounce-delay="0"-->
                                            <!--max-results-to-show="10"></auto-complete> </tags-input>-->

                                    <!--<div ng-controller='searchSeekersCtrl'>-->
                                        <!--<input auto-complete ui-items="names" ng-model="selected">-->
                                        <!--selected = {{selected}}-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="search-input">-->
                                    <!--<button ng-click="search()" type="submit"-->
                                            <!--class="btn btn-xs btn-info">Search</button>-->

                                <!--</div>-->


                                </div>

                            </div>

                        </form>







                        <li ng-controller="linkedInCtrl"  class="dropdown messages-menu">
                            <a href="javascript:void(0);" class="dropdown-toggle whatever" data-toggle="dropdown">
                                <i class="fa fa-bell-o" alt="Notifications"></i>
                                <span class="label label-success noti_num">{{jobNoticount}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You Have <span class="noti_num">{{jobNoticount}}</span> Notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li ng-repeat="notification in jobsNotifications track by $index">
                                            <a href="#/newsfeedJob/{{notification.jobId}}">
                                                <span class="timeline-body" style="font-size: 12px;">{{notification.content}}</span><br>
                                                <span>{{notification.alertDate}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!--<li class="footer  whatever"><a href="javascript:void(0);">See All Notifications</a></li>-->
                            </ul>
                        </li>



                        <li ng-controller="linkedInCtrl" class="dropdown messages-menu">
                            <a href="javascript:void(0);" class="dropdown-toggle whatever" data-toggle="dropdown">
                                <i class="fa fa-weixin" alt="Notifications"></i>
                                <span class="label label-success noti_num">{{msgsNoticount}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You Have <span class="noti_num">{{msgsNoticount}}</span> Messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li ng-repeat="notification in msgsNotifications track by $index">
                                            <a href="#/jobseekers/{{notification.from_id}}">
                                                <span class="timeline-body" style="font-size: 12px;">New Msg From {{notification.first_name}} {{notification.last_name}}</span><br>

                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>



                        <li ng-controller="linkedInCtrl" class="dropdown messages-menu">
                            <a href="javascript:void(0);" class="dropdown-toggle whatever" data-toggle="dropdown">
                                <i class="fa fa-calendar" alt="Notifications"></i>
                                <span class="label label-success noti_num">{{reminderNoticount}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You Have <span class="noti_num">{{reminderNoticount}}</span> new reminders</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li ng-repeat="reminder in remindersNotifications track by $index">
                                            <a href="#/newsfeedJob/{{reminder.jobId}}">
                                                <span class="timeline-body" style="font-size: 12px;">New event with title {{reminder.eventTitle}} is waiting</span><br>

                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>



                        <!--<li ng-controller="linkedInCtrl" class="dropdown messages-menu">-->
                            <!--<a href="javascript:void(0);" class="dropdown-toggle whatever" data-toggle="dropdown">-->
                                <!--<i class="fa fa-comment-o" alt="Notifications"></i>-->
                                <!--<span class="label label-success noti_num">{{count}}</span>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li class="header">You Have <span class="noti_num">{{count}}</span> Notifications</li>-->
                                <!--<li>-->
                                    <!--&lt;!&ndash; inner menu: contains the actual data &ndash;&gt;-->
                                    <!--<ul class="menu">-->
                                        <!--<li ng-repeat="notification in Notifications track by $index">-->
                                            <!--<a href="#/newsfeedJob/{{notification.jobId}}">-->
                                                <!--<span class="timeline-body" style="font-size: 12px;">{{notification.content}}</span><br>-->
                                                <!--<span>{{notification.alertDate}}</span>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--&lt;!&ndash;<li class="footer  whatever"><a href="javascript:void(0);">See All Notifications</a></li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</li>-->
                        <li ng-controller="linkedInCtrl" class="dropdown messages-menu">
                            <a href="javascript:void(0);" class="dropdown-toggle whatever" data-toggle="dropdown">
                                <i class="fa fa-comment-o" alt="Notifications"></i>
                                <span class="label label-success noti_num">{{commentNoticount}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You Have <span class="noti_num">{{commentNoticount}}</span> Comments</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li ng-repeat="notification in commentNotifications track by $index">
                                            <a href="#/newsfeed/{{notification.id}}">
                                                <span class="timeline-body" style="font-size: 12px;">New Comment On {{notification.title}} By {{notification.fullname}}</span><br>
                                                <span>{{notification.alertDate}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!--<li class="footer  whatever"><a href="javascript:void(0);">See All Notifications</a></li>-->
                            </ul>
                        </li>




                        <!--<li ng-controller="loginCtrl" class="dropdown messages-menu">-->
                            <!--<a href="javascript:void(0);" class="dropdown-toggle whatever" data-toggle="dropdown">-->
                                <!--<i class="fa fa-star" alt="Notifications"></i>-->
                                <!--<span class="label label-success noti_num">{{appliedNoticount}}</span>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li class="header">You Have <span class="noti_num">{{appliedNoticount}}</span> new appliers</li>-->
                                <!--<li>-->
                                    <!--&lt;!&ndash; inner menu: contains the actual data &ndash;&gt;-->
                                    <!--<ul class="menu">-->
                                        <!--<li ng-repeat="applied in appliedNotifications track by $index">-->
                                            <!--<a href="#/newsfeedJob/{{Applies.jobId}}">-->
                                                <!--<span class="timeline-body" style="font-size: 12px;">A new candidate have applied to your job with similarity {{applied.similarity}}%</span><br>-->

                                            <!--</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->

                            <!--</ul>-->
                        <!--</li>-->




                        <li ng-controller="linkedInCtrl" class="dropdown messages-menu">
                            <a href="javascript:void(0);" class="dropdown-toggle whatever" data-toggle="dropdown">
                                <i class="fa fa-cog" alt="Notifications"></i>

                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">History</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#/msgshistory">
                                                <span class="timeline-body" style="font-size: 14px;">Messages History</span><br>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#/notihistory">
                                                <span class="timeline-body" style="font-size: 14px;">Notifications History</span><br>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#/jobshistory">
                                                <span class="timeline-body" style="font-size: 14px;">Jobs Notifications History</span><br>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#/remindershistory">
                                                <span class="timeline-body" style="font-size: 14px;">Events History</span><br>
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                            </ul>
                        </li>

                    </ul>






                    <div ng-app='myApp'>

                    <form class="navbar-form navbar-left" role="search" ng-controller="searchSeekersCtrl">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" ng-model="search">
                        </div>
                        <a href="#/search" type="submit" class="btn btn-info" ng-click="searchForSeekersByName(search)">Search</a>

                        <!--<a href="#/jobseekers" type="submit" class="btn btn-info" ng-click="searchForSeekersByName(search)">Search</a>-->
                        <!--<button type="submit" class="btn btn-info" ng-click="redirect()">Search</button>-->
                        <!--<h3 class="timeline-header"><a href="#/search/:search">Search</a></h3>-->

                        <!--<div ng-app='MyModule'>-->
                            <!--<div ng-controller='DefaultCtrl'>-->
                                <!--<input auto-complete ui-items="names" ng-model="selected">-->
                                <!--selected = {{selected}}-->
                            <!--</div>-->

                        <!--<tags-input ng-model="tags">-->
                            <!--<auto-complete source="loadTags($query)"></auto-complete>-->
                        <!--</tags-input>-->



                    </form>
                    </div>




                    <ul class="nav navbar-nav pull-right ">








                        <!--<li ng-show="userProfile.data.userType==1"-->
                            <!--ng-click="select($index)"-->
                            <!--ng-class="{active: $index===selectedIndex}"><a-->
                                <!--href="#/myJobList">My Jobs List</a></li>-->
                        <!--<li ng-show="userProfile.data.userType==2"-->
                            <!--ng-click="select($index)"-->
                            <!--ng-class="{active: $index===selectedIndex}"><a-->
                                <!--href="#/addAllowedUser">Add Allowed User</a></li>-->
                        <!--<li>-->
                        <!--<li ng-controller="notificationCtrl" ng-click="getNotofication()">-->
							<!--<span class="dropdown" on-toggle="toggled(open)"> <a href-->
                                                                                 <!--class="dropdown-toggle"> Notifications </a>-->
								<!--<ul class="dropdown-menu">-->
                                    <!--<li ng-repeat="choice in items"><a-->
                                            <!--ng-click="getNotificationnEntity($index)">{{choice.text}}</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
						<!--</span>-->
                        <!--</li>-->

                        <li><a ng-href="#/jobseekers/{{userProfile.user_id}}"><img alt="60x60" src="{{userProfile.data.pictureUrl}}"
                                 class="img-circle" /></a></li>
                        <li><a ng-href="{{userProfile.data.publicProfileUrl}}">
                            <h5 style="margin-top: 3px;" class="text-left text-info ">
                                {{userProfile.data.firstName}} {{userProfile.data.lastName}}</h5>
                        </a></li>
                        <li><button class="btn btn-mini btn-warning"
                                    style="margin-top: 6px;" type="button"
                                    ng-click="logoutLinkedIn()">Logout</button></li>

                    </ul>

                </div>

            </nav>
        </div>
    </div>



</div>



        <script>


            $('.whatever').click(function(event){
                event.preventDefault();
            });
        </script>



