<link href="dist/css/messageStyle.css" rel="stylesheet">


<style>
    .chat
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .chat li
    {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #B3A9A9;
    }

    .chat li.left .chat-body
    {
        margin-left: 60px;
    }

    .chat li.right .chat-body
    {
        margin-right: 60px;
    }


    .chat li .chat-body p
    {
        margin: 0;
        color: #777777;
    }

    .panel .slidedown .glyphicon, .chat .glyphicon
    {
        margin-right: 5px;
    }

    .panel-body
    {
        overflow-y: scroll;
        height: 250px;
    }



</style>
<!--View Profile:-->

<!--<input type="text" ng-model="jobSeekerId" placeholder="jobSeekerId">-->
<!--<button   ng-click="viewProfile(); getMessages()" >View Profile</button>-->
<!--<br/>-->

<!--<button ng-click="toggle()">send message</button>-->
<!--<div>-->

    <!--<br> First Name: {{first_name}}</br>-->
    <!--<br> Last Name: {{last_name}}</br>-->
    <!--<br> Email: {{Email}}</br>-->
    <!--<br> Profile Url: {{profileUrl}}</br>-->
    <!--<br> Picture Url: {{pictureUrl}}</br>-->
    <!--<br> Summary: {{summary}}</br>-->
    <!--<br> Location: {{location}}</br>-->
    <!--<br> Industry: {{industry}}</br>-->
    <!--<br> Location: {{location}}</br>-->
    <!--<br> </br>-->
    <!--Skills:-->
    <!--<ul>-->
        <!--<li ng-repeat='skill in skills'>-->
            <!--<br>{{skill}}</br>-->
        <!--</li>-->

    <!--</ul>-->

    <!--Educations:-->
    <!--<ul>-->
        <!--<li ng-repeat='education in educations'>-->
            <!--<br>  {{education}}</br>-->
        <!--</li>-->

    <!--</ul>-->
<!--</div>-->


<!--</div>-->






<header ng-include="'views/header2.html'"></header>



<link href="dist/css/profile.css" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" ng-controller="viewProfileCtrl">
    <div class="row">
        <div class="col-lg-12">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">

                    <img alt="" src="{{pictureUrl}}"
                         class="img-circle" />
                </div>

                <div class="bottom">
                    <a class="btn btn-primary btn-linkedin btn-sm" href="{{profileUrl}}">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <button  class="btn btn-danger btn-sm" rel="publisher" ng-click="toggle()">
                        Messages
                    </button>

                    <chat title="Chat .." visible="showModal">
                        <!--<div class="chat-box center-block">-->
                            <!--<div class="header">-->
                                <!--{{first_name}} {{last_name}}-->
                            <!--</div>-->
                            <!--<div class="chat-box center-block">-->
                                <!--<div class="input-box">-->
                                    <!--<textarea id="msg_content" ng-model="$parent.content" class="form-control msg_content" rows="2" placeholder="Enter message..."></textarea>-->

                                <!--</div>-->
                                <!--<button class="send_msg btn btn-danger sendBtn" ng-click="sendMessage()" >SEND A MESSAGE..</button>-->
                                <!--<div class="messages">-->
                                    <!--<ul id="msgs">-->
                                        <!--<li  ng-repeat='message in messages track by $index'>-->
                                            <!--<span ng-show="message.from_id==myId" class="left" alt="{{message.sendate}}">{{message.content}}</span>-->
                                            <!--<span ng-show="message.from_id!=myId" class="right" alt="{{message.sendate}}">{{message.content}}</span>-->
                                            <!--<div class="clear"></div>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                    <!--<div class="clear"></div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->




                        <center>
                        <div class="container block-center" style="width: 100%">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading" id="accordion">
                                            <span class="glyphicon glyphicon-comment"></span> Chat
                                            <div class="btn-group pull-right">

                                            </div>
                                        </div>
                                        <div>

                                            <div class="panel-footer">
                                                <div class="input-group">
                                                    <input ng-model="$parent.content" id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                            <span class="input-group-btn">
                                                <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="sendMessage()">
                                                    Send
                                                </button>
                                            </span>
                                                </div>
                                            </div>

                                            <div class="panel-body">
                                                <ul class="chat">
                                                    <li class="clearfix" ng-repeat='message in messages track by $index'>

                                                        <span class="chat-img pull-left">
                                                                    <img  ng-show="message.from_id!=myId" src="{{pictureUrl}}" alt="User Avatar" class="img-circle" />
                                                                    <img  ng-show="message.from_id==myId" src="{{imgUrl}}" alt="User Avatar" class="img-circle" />
                                                        </span>
                                                        <div class="chat-body clearfix">
                                                            <div class="header">
                                                                <strong class="primary-font" ng-show="message.from_id==myId"> Me</strong>
                                                                <strong class="primary-font" ng-show="message.from_id!=myId"> {{first_name}} {{last_name}}</strong>
                                                                <small class="pull-right text-muted">

                                                                    <span class="glyphicon glyphicon-time"></span>{{message.sendate}}
                                                                </small>
                                                            </div>
                                                            <p>
                                                                {{message.content}}
                                                            </p>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </center>
                    </chat>

                </div>



                <div class="info" ng-controller="viewProfileCtrl">
                    <div class="title">
                        <a href="{{profileUrl}}">{{first_name}} {{last_name}}</a>
                    </div>
                    <span class="title">Email: </span><span class="desc">{{Email}}</span><br>
                    <span class="title">Industry: </span><span class="desc">{{industry}}</span><br>
                    <div class="title">Summary </div><div class="desc">{{summary}}</div>
                </div>

                <a class="btn btn-primary btn-linkedin btn-sm" href="{{profileUrl}}">
                    Show More In Linked <i class="fa fa-linkedin"></i>
                </a>

                <br>

                <span ng-show="user_id==myId" class="bg-green">
                <div class="form-group" >
                    <label for="comment">My Skills</label>
                    <textarea ng-model="mySkills" class="form-control" rows="5" id="comment"></textarea>
                </div>
                <button class="btn btn-primary btn-linkedin btn-sm" ng-click="updateSkills()">
                    Update Skills <i class="fa fa-pencil-square-o"></i>
                </button>

                </span>
                </div>


            <div class="row">
                <div class="col-md-12">

                    <span class="title"><font size="6">Posts:</font> </span><br>
                    <!-- The time line -->
                    <div  ng-repeat="post in myposts track by $index">
                        <ul class="timeline">

                            <!--&lt;!&ndash; timeline time label &ndash;&gt;-->
                            <!--<li class="time-label">-->
                              <!--<span ng-show="post.jobseeker_id==js_id" class="bg-green">-->
                                <!--<a href="#/jobseekers/{{post.jobseeker_id}}" style="color: white">This Is Me</a>-->
                              <!--</span>-->
                              <!--<span ng-hide="post.jobseeker_id==js_id" class="bg-blue">-->
                                <!--<a href="#/jobseekers/{{post.jobseeker_id}}" style="color: white">{{post.fullname}}</a>-->
                              <!--</span>-->
                            <!--</li>-->
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <li    >
                                <i class="fa fa-comment-o bg-blue"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> {{post.publish_date}}</span>
                                    <h3 class="timeline-header"><a href="#/newsfeed/{{post.id}}">{{post.title}}</a></h3>
                                    <div class="timeline-body"  style="white-space: pre-line">
                                        {{post.body}}
                                    </div>
                                    <div class='timeline-footer'>
                                        <a class="btn btn-primary btn-xs" href="#/newsfeed/{{post.id}}">View Comments</a>
                                        <a class="btn btn-danger btn-xs" ng-show="post.jobseeker_id==js_id" ng-click="deletePost(post.id)">delete</a>
                                    </div>
                                </div>
                            </li>




                            <li>
                                <i class="fa fa-clock-o bg-gray"></i>
                            </li>
                        </ul>
                        <div>&nbsp</div>
                    </div>
                </div><!-- /.col -->
            </div>



            <div ng-controller="viewProfileCtrl">

            <center>

                <button class="center-block btn btn-inverse" ng-click="loadMoreProfilePost()">Load More..</button>

                <div class="container" id="loadMoreProfilePosts">
                    <!--<div class="spinner"></div>-->
                    <div class="spinner border"></div>
                    <!--<div class="spinner arrow"><div class="arrow1"></div><div class="arrow2"></div></div>-->
                </div>
            </center>






            </div>
        </div>

    </div>
</div>
